/* set padding for iOS status bar */
.ua-ios .ui-page {
    padding-top: 63px !important;
}

.ua-ios .ui-header {
    top: 20px;
}

.btn1 {
    background-color: rgb(245, 154, 18);
}

.btn2 {
    background-color: rgb(39, 164, 223);
}